.hero-authbox-container .hero-authbox-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-authbox {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-authbox h1,
.hero-authbox h2,
.hero-authbox h3,
.hero-authbox h4,
.hero-authbox h5,
.hero-authbox h6,
.hero-authbox p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-authbox.no-image * {
  color: var(--text-color);
}

.hero-authbox picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-authbox img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-authbox {
    padding: 40px 32px;
  }
}
